*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/bg_tela.jpg");
    background-repeat: no-repeat;
}



/* .logo {
    padding-top: 10px;
    margin-inline: 15px;
} */

.title {
   
    display: flex;
    justify-content: center;
    font-size: 30px ;
    padding: 15px;
    color:#d6a34a;
}


/*  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
   
}  */

.buttons {
   display: flex;
    justify-content: center;
    align-items: center; 
    width: 550px;
    margin: 245px 450px ;
 }



.btn-grad {
    background-image: linear-gradient(to right, #d6a34a 0%, #DDEFBB 51%, #fbe5e5 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 10px greenyellow;
    border-radius: 20px;
    display: block;
    cursor: pointer;

}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: rgb(227, 121, 0);
    text-decoration: none;
}



.btns {
    width: 150px;
    border-radius: 50px;
    color: rgb(7, 58, 36);
    margin: 10px;
    padding: 3px;
    font-size: 20px;
}

.atencao {
    width: 350px;
    margin-inline: 100px;
    margin-top: 20px;
    display: flex;
}


.footer {

    background-color: #e3e3e3;
}

.text_footer {
    padding-bottom: 10px;
    text-align: center;
    font-size: 24px;
    color: rgb(9, 9, 9);
}


.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin-top: 15px;
    margin-inline: 5px;
    cursor: pointer;
}